
.icon-strava {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Estrava%3C/title%3E%0A%3Cpath%20fill%3D%22%23fc4c02%22%20d%3D%22M20.516%2023.925l-2.785-5.488h-4.087l6.872%2013.563%206.867-13.563h-4.088zM13.951%2010.972l3.781%207.464h5.563l-9.344-18.436-9.333%2018.437h5.559z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-github {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Egithub%3C/title%3E%0A%3Cpath%20d%3D%22M16%200.396c-8.84%200-16%207.164-16%2016%200%207.071%204.584%2013.067%2010.94%2015.18%200.8%200.151%201.093-0.344%201.093-0.769%200-0.38-0.013-1.387-0.020-2.72-4.451%200.965-5.389-2.147-5.389-2.147-0.728-1.847-1.78-2.34-1.78-2.34-1.449-0.992%200.112-0.972%200.112-0.972%201.607%200.112%202.451%201.648%202.451%201.648%201.427%202.447%203.745%201.74%204.66%201.331%200.144-1.035%200.556-1.74%201.013-2.14-3.553-0.4-7.288-1.776-7.288-7.907%200-1.747%200.62-3.173%201.647-4.293-0.18-0.404-0.72-2.031%200.14-4.235%200%200%201.34-0.429%204.4%201.64%201.28-0.356%202.64-0.532%204-0.54%201.36%200.008%202.72%200.184%204%200.54%203.040-2.069%204.38-1.64%204.38-1.64%200.86%202.204%200.32%203.831%200.16%204.235%201.020%201.12%201.64%202.547%201.64%204.293%200%206.147-3.74%207.5-7.3%207.893%200.56%200.48%201.080%201.461%201.080%202.96%200%202.141-0.020%203.861-0.020%204.381%200%200.42%200.28%200.92%201.1%200.76%206.401-2.099%2010.981-8.099%2010.981-15.159%200-8.836-7.164-16-16-16z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-goodreads {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Egoodreads%3C/title%3E%0A%3Cpath%20fill%3D%22%23630%22%20d%3D%22M26.033%2021.303v-20.649h-2.745v3.875h-0.085c-0.281-0.607-0.641-1.188-1.123-1.743-0.48-0.549-1.023-1.036-1.643-1.459-0.621-0.419-1.283-0.748-2.025-0.981-0.737-0.225-1.52-0.345-2.361-0.345-1.613%200-3.067%200.3-4.328%200.893-1.263%200.596-2.324%201.409-3.18%202.44s-1.511%202.235-1.96%203.615c-0.448%201.383-0.675%202.839-0.675%204.377%200%201.599%200.188%203.101%200.567%204.509%200.381%201.409%200.983%202.635%201.824%203.683%200.841%201.040%201.883%201.863%203.167%202.444%201.281%200.581%202.825%200.881%204.628%200.881%201.664%200%203.107-0.42%204.349-1.261s2.184-1.964%202.825-3.367h0.081v3.045c0%202.725-0.561%204.809-1.685%206.273-1.12%201.441-2.965%202.184-5.528%202.184-0.763%200-1.504-0.081-2.225-0.241-0.723-0.16-1.381-0.42-1.983-0.76-0.583-0.361-1.103-0.801-1.524-1.384-0.421-0.58-0.701-1.281-0.843-2.124h-2.809c0.089%201.183%200.42%202.205%200.983%203.067%200.565%200.861%201.281%201.563%202.136%202.124%200.855%200.541%201.823%200.941%202.896%201.203%201.081%200.259%202.185%200.4%203.325%200.4%201.844%200%203.388-0.26%204.648-0.74%201.263-0.501%202.285-1.203%203.068-2.144%200.801-0.944%201.361-2.065%201.724-3.408%200.36-1.343%200.56-2.845%200.56-4.489l-0.059%200.083zM16.055%2020.56c-1.273%200-2.379-0.252-3.305-0.761-0.929-0.507-1.703-1.176-2.309-2.004-0.623-0.828-1.063-1.776-1.363-2.852s-0.443-2.177-0.443-3.312c0-1.161%200.14-2.3%200.401-3.417%200.28-1.12%200.72-2.116%201.323-2.987%200.601-0.869%201.383-1.576%202.304-2.112s2.044-0.807%203.347-0.807%202.404%200.279%203.327%200.828c0.901%200.553%201.663%201.279%202.244%202.179%200.581%200.903%201.001%201.905%201.263%203.007%200.26%201.101%200.38%202.208%200.38%203.309%200%201.136-0.16%202.237-0.46%203.312-0.301%201.076-0.763%202.024-1.384%202.852-0.62%200.828-1.361%201.497-2.264%202.004-0.901%200.509-1.944%200.761-3.145%200.761h0.085z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-instagram {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Einstagram%3C/title%3E%0A%3Cpath%20fill%3D%22%23e4405f%22%20d%3D%22M16%200c-4.347%200-4.889%200.020-6.596%200.096-1.704%200.080-2.864%200.348-3.884%200.744-1.052%200.408-1.945%200.956-2.835%201.845s-1.439%201.781-1.845%202.835c-0.396%201.020-0.665%202.18-0.744%203.884-0.080%201.707-0.096%202.249-0.096%206.596s0.020%204.889%200.096%206.596c0.080%201.703%200.348%202.864%200.744%203.884%200.408%201.051%200.956%201.945%201.845%202.835%200.889%200.888%201.781%201.439%202.835%201.845%201.021%200.395%202.181%200.665%203.884%200.744%201.707%200.080%202.249%200.096%206.596%200.096s4.889-0.020%206.596-0.096c1.703-0.080%202.864-0.349%203.884-0.744%201.051-0.408%201.945-0.957%202.835-1.845%200.888-0.889%201.439-1.78%201.845-2.835%200.395-1.020%200.665-2.181%200.744-3.884%200.080-1.707%200.096-2.249%200.096-6.596s-0.020-4.889-0.096-6.596c-0.080-1.703-0.349-2.865-0.744-3.884-0.408-1.052-0.957-1.945-1.845-2.835-0.889-0.889-1.78-1.439-2.835-1.845-1.020-0.396-2.181-0.665-3.884-0.744-1.707-0.080-2.249-0.096-6.596-0.096zM16%202.88c4.271%200%204.78%200.021%206.467%200.095%201.56%200.073%202.407%200.332%202.969%200.553%200.749%200.289%201.28%200.636%201.843%201.195%200.559%200.56%200.905%201.092%201.195%201.841%200.219%200.563%200.48%201.409%200.551%202.969%200.076%201.688%200.093%202.195%200.093%206.467s-0.020%204.78-0.099%206.467c-0.081%201.56-0.341%202.407-0.561%202.969-0.299%200.749-0.639%201.28-1.199%201.843-0.559%200.559-1.099%200.905-1.84%201.195-0.56%200.219-1.42%200.48-2.98%200.551-1.699%200.076-2.199%200.093-6.479%200.093-4.281%200-4.781-0.020-6.479-0.099-1.561-0.081-2.421-0.341-2.981-0.561-0.759-0.299-1.28-0.639-1.839-1.199-0.561-0.559-0.92-1.099-1.2-1.84-0.22-0.56-0.479-1.42-0.56-2.98-0.060-1.68-0.081-2.199-0.081-6.459%200-4.261%200.021-4.781%200.081-6.481%200.081-1.56%200.34-2.419%200.56-2.979%200.28-0.76%200.639-1.28%201.2-1.841%200.559-0.559%201.080-0.919%201.839-1.197%200.56-0.221%201.401-0.481%202.961-0.561%201.7-0.060%202.2-0.080%206.479-0.080l0.060%200.040zM16%207.784c-4.54%200-8.216%203.68-8.216%208.216%200%204.54%203.68%208.216%208.216%208.216%204.54%200%208.216-3.68%208.216-8.216%200-4.54-3.68-8.216-8.216-8.216zM16%2021.333c-2.947%200-5.333-2.387-5.333-5.333s2.387-5.333%205.333-5.333%205.333%202.387%205.333%205.333-2.387%205.333-5.333%205.333zM26.461%207.46c0%201.060-0.861%201.92-1.92%201.92-1.060%200-1.92-0.861-1.92-1.92s0.861-1.919%201.92-1.919c1.057-0.001%201.92%200.86%201.92%201.919z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-medium {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Emedium%3C/title%3E%0A%3Cpath%20d%3D%22M3.795%208.48c0.040-0.393-0.111-0.781-0.404-1.045l-2.987-3.6v-0.537h9.276l7.171%2015.727%206.304-15.727h8.845v0.537l-2.556%202.449c-0.22%200.168-0.329%200.444-0.284%200.717v18c-0.045%200.272%200.064%200.547%200.284%200.716l2.493%202.449v0.537h-12.547v-0.537l2.583-2.509c0.253-0.253%200.253-0.328%200.253-0.717v-14.548l-7.187%2018.251h-0.969l-8.367-18.251v12.232c-0.069%200.515%200.101%201.032%200.463%201.404l3.36%204.080v0.536h-9.527v-0.537l3.36-4.080c0.36-0.371%200.52-0.893%200.435-1.403v-14.144z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-telegram {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Etelegram%3C/title%3E%0A%3Cpath%20fill%3D%22%232ca5e0%22%20d%3D%22M12.037%2027.783c-0.952%200-0.791-0.361-1.119-1.265l-2.804-9.227%2021.569-12.797z%22%3E%3C/path%3E%0A%3Cpath%20fill%3D%22%232ca5e0%22%20d%3D%22M12.037%2027.783c0.736%200%201.060-0.336%201.473-0.737l3.921-3.809-4.895-2.952z%22%3E%3C/path%3E%0A%3Cpath%20fill%3D%22%232ca5e0%22%20d%3D%22M12.537%2020.284l11.853%208.757c1.353%200.747%202.331%200.361%202.667-1.256l4.827-22.737c0.496-1.983-0.752-2.879-2.045-2.293l-28.339%2010.929c-1.933%200.776-1.924%201.856-0.352%202.337l7.273%202.267%2016.832-10.617c0.793-0.48%201.524-0.223%200.925%200.309z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-twitter {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Etwitter%3C/title%3E%0A%3Cpath%20fill%3D%22%231da1f2%22%20d%3D%22M31.939%206.092c-1.18%200.519-2.44%200.872-3.767%201.033%201.352-0.815%202.392-2.099%202.884-3.631-1.268%200.74-2.673%201.279-4.169%201.579-1.195-1.279-2.897-2.079-4.788-2.079-3.623%200-6.56%202.937-6.56%206.556%200%200.52%200.060%201.020%200.169%201.499-5.453-0.257-10.287-2.876-13.521-6.835-0.569%200.963-0.888%202.081-0.888%203.3%200%202.28%201.16%204.284%202.917%205.461-1.076-0.035-2.088-0.331-2.971-0.821v0.081c0%203.18%202.257%205.832%205.261%206.436-0.551%200.148-1.132%200.228-1.728%200.228-0.419%200-0.82-0.040-1.221-0.115%200.841%202.604%203.26%204.503%206.139%204.556-2.24%201.759-5.079%202.807-8.136%202.807-0.52%200-1.039-0.031-1.56-0.089%202.919%201.859%206.357%202.945%2010.076%202.945%2012.072%200%2018.665-9.995%2018.665-18.648%200-0.279%200-0.56-0.020-0.84%201.281-0.919%202.4-2.080%203.28-3.397l-0.063-0.027z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-untappd {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Euntappd%3C/title%3E%0A%3Cpath%20fill%3D%22%23ffc000%22%20d%3D%22M14.667%2017.732l-7.765%2010.844c-0.397%200.555-1.067%200.847-1.744%200.763-0.771-0.096-1.832-0.385-2.927-1.172s-1.708-1.701-2.045-2.403c-0.117-0.238-0.186-0.517-0.186-0.813%200-0.408%200.131-0.785%200.352-1.093l-0.004%200.006%207.765-10.844c0.371-0.514%200.845-0.931%201.394-1.225l0.022-0.011%201.528-0.805c0.307-0.161%200.581-0.377%200.811-0.637%200.741-0.841%202.732-3.045%206.261-6.609l0.061-0.283c0.015-0.065%200.064-0.116%200.127-0.133l0.001-0%200.195-0.049c0.078-0.021%200.135-0.091%200.135-0.174%200-0.005-0-0.010-0.001-0.014l0%200.001-0.020-0.24c-0-0.005-0.001-0.010-0.001-0.016%200-0.094%200.074-0.17%200.167-0.173h0c0.235-0.007%200.691%200.061%201.335%200.524s0.853%200.875%200.923%201.099c0.005%200.015%200.007%200.032%200.007%200.050%200%200.082-0.057%200.15-0.133%200.169l-0.001%200-0.233%200.059c-0.078%200.020-0.135%200.089-0.135%200.172%200%200.006%200%200.011%200.001%200.016l-0-0.001%200.016%200.2c0%200.004%200.001%200.009%200.001%200.014%200%200.063-0.034%200.119-0.084%200.149l-0.001%200-0.248%200.149c-2.239%204.492-3.685%207.088-4.244%208.061-0.163%200.281-0.283%200.608-0.34%200.957l-0.002%200.017-0.273%201.708c-0.108%200.661-0.36%201.25-0.723%201.752l0.008-0.012zM31.652%2023.863l-7.765-10.844c-0.371-0.514-0.845-0.931-1.394-1.225l-0.022-0.011-1.528-0.807c-0.316-0.168-0.584-0.381-0.808-0.634l-0.003-0.003c-0.315-0.357-0.57-0.641-0.828-0.923l0.046%200.051c-0.022-0.023-0.052-0.037-0.086-0.037-0.044%200-0.083%200.024-0.103%200.060l-0%200.001c-1.088%202.132-1.862%203.538-2.661%204.928l0.334-0.631c-0.109%200.186-0.189%200.404-0.227%200.636l-0.001%200.011c-0.037%200.221-0.058%200.476-0.058%200.735s0.021%200.514%200.062%200.762l-0.004-0.027%200.013%200.085c0.1%200.628%200.345%201.224%200.715%201.74l7.765%2010.844c0.395%200.551%201.053%200.847%201.725%200.765%201.12-0.147%202.121-0.565%202.963-1.187l-0.017%200.012c0.867-0.618%201.56-1.426%202.027-2.366l0.017-0.037c0.118-0.238%200.186-0.517%200.186-0.813%200-0.408-0.131-0.785-0.353-1.092l0.004%200.005zM11.075%204.488l0.233%200.059c0.078%200.020%200.135%200.090%200.135%200.173%200%200.005-0%200.010-0.001%200.015l0-0.001-0.016%200.2c-0%200.005-0.001%200.010-0.001%200.015%200%200.063%200.034%200.118%200.084%200.149l0.001%200%200.248%200.149c0.415%200.831%200.799%201.592%201.159%202.295%200.035%200.068%200.121%200.080%200.172%200.025%200.583-0.625%201.285-1.367%202.113-2.224%200.033-0.033%200.053-0.079%200.053-0.129%200-0.048-0.019-0.092-0.049-0.125l0%200c-0.42-0.429-0.86-0.879-1.336-1.36l-0.061-0.283c-0.014-0.065-0.064-0.116-0.127-0.132l-0.001-0-0.195-0.049c-0.078-0.021-0.135-0.091-0.135-0.174%200-0.005%200-0.010%200.001-0.014l-0%200.001%200.020-0.24c0-0.005%200.001-0.010%200.001-0.016%200-0.093-0.073-0.168-0.164-0.173l-0-0c-0.233-0.007-0.691%200.060-1.336%200.524-0.644%200.463-0.853%200.875-0.923%201.099-0.005%200.015-0.007%200.032-0.007%200.050%200%200.082%200.057%200.15%200.133%200.169l0.001%200z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-facebook {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Efacebook%3C/title%3E%0A%3Cpath%20fill%3D%22%233b5998%22%20d%3D%22M30.235%200h-28.469c-0.975%200-1.765%200.791-1.765%201.765v28.469c0%200.976%200.791%201.765%201.765%201.765h15.325v-12.392h-4.172v-4.828h4.172v-3.567c0-4.132%202.525-6.38%206.212-6.38%201.767%200%203.285%200.129%203.728%200.188v4.32h-2.561c-2%200-2.389%200.961-2.389%202.361v3.081h4.779l-0.62%204.84h-4.159v12.376h8.153c0.977%200%201.767-0.789%201.767-1.765v-28.469c0-0.975-0.789-1.765-1.765-1.765z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-foursquare {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%21--%20Generated%20by%20IcoMoon.io%20--%3E%0A%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%3E%0A%3Ctitle%3Efoursquare%3C/title%3E%0A%3Cpath%20fill%3D%22%23f94877%22%20d%3D%22M23.636%204.62l-0.713%203.732c-0.085%200.404-0.593%200.831-1.068%200.831h-6.641c-0.749%200-1.284%200.521-1.284%201.26v0.819c0%200.759%200.54%201.28%201.288%201.28h5.64c0.527%200%201.047%200.581%200.929%201.14l-0.713%203.68c-0.068%200.32-0.419%200.84-1.047%200.84h-4.609c-0.84%200-1.091%200.121-1.652%200.801-0.56%200.699-5.608%206.759-5.608%206.759-0.049%200.060-0.099%200.039-0.099-0.020v-21.181c0-0.479%200.415-1.040%201.035-1.040h13.699c0.5%200%200.973%200.475%200.844%201.095v0.005zM24.237%2019.26c0.193-0.771%202.328-11.712%203.041-15.18zM24.648%200h-17.071c-2.353%200-3.044%201.771-3.044%202.885v27.12c0%201.253%200.672%201.721%201.052%201.873%200.379%200.156%201.425%200.285%202.055-0.437%200%200%208.059-9.352%208.195-9.489%200.22-0.209%200.22-0.209%200.42-0.209h5.219c2.2%200%202.541-1.56%202.781-2.48%200.2-0.759%202.339-11.699%203.039-15.18%200.54-2.643-0.14-4.083-2.64-4.083h-0.005z%22%3E%3C/path%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}

.icon-linkedin {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2015.0.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22svg2%22%20sodipodi%3Aversion%3D%220.32%22%20inkscape%3Aversion%3D%220.47%20r22583%22%20sodipodi%3Adocname%3D%22linkedin.svg%22%20inkscape%3Aoutput_extension%3D%22org.inkscape.output.svg.inkscape%22%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20enable-background%3D%22new%200%200%2032%2032%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Csodipodi%3Anamedview%20showgrid%3D%22false%22%20inkscape%3Awindow-maximized%3D%220%22%20pagecolor%3D%22%23ffffff%22%20bordercolor%3D%22%23666666%22%20id%3D%22base%22%20borderopacity%3D%221.0%22%20inkscape%3Acx%3D%22138.80354%22%20inkscape%3Apageopacity%3D%220.0%22%20inkscape%3Apageshadow%3D%222%22%20inkscape%3Azoom%3D%220.24748737%22%20inkscape%3Acy%3D%2294.798647%22%20inkscape%3Adocument-units%3D%22px%22%20inkscape%3Acurrent-layer%3D%22layer1%22%20inkscape%3Awindow-width%3D%22853%22%20inkscape%3Awindow-height%3D%22674%22%20inkscape%3Awindow-x%3D%221%22%20inkscape%3Awindow-y%3D%22281%22%3E%0D%0A%09%3C/sodipodi%3Anamedview%3E%0D%0A%3Cg%20id%3D%22layer1%22%20transform%3D%22scale%280.125%29%20translate%28-373.642%2C-318.344%29%22%20inkscape%3Alabel%3D%22Layer%201%22%20inkscape%3Agroupmode%3D%22layer%22%3E%0D%0A%09%0D%0A%09%09%3Cpath%20id%3D%22rect1942%22%20inkscape%3Aexport-filename%3D%22C%3A%5CDocuments%20and%20Settings%5CMolumen%5CDesktop%5Cpath3511111.png%22%20inkscape%3Aexport-xdpi%3D%227.7063322%22%20inkscape%3Aexport-ydpi%3D%227.7063322%22%20fill%3D%22%231D8CB5%22%20d%3D%22%20%20%20M583.659%2C328.849H419.625c-19.599%2C0-35.487%2C15.888-35.487%2C35.487v164.015c0%2C19.599%2C15.888%2C35.486%2C35.487%2C35.486h164.033%20%20%20c19.599%2C0%2C35.487-15.888%2C35.487-35.486V364.337C619.146%2C344.738%2C603.257%2C328.849%2C583.659%2C328.849z%22/%3E%0D%0A%09%0D%0A%09%09%3Cpath%20id%3D%22path1950%22%20inkscape%3Aexport-filename%3D%22C%3A%5CDocuments%20and%20Settings%5CMolumen%5CDesktop%5Cpath3511111.png%22%20inkscape%3Aexport-xdpi%3D%227.7063322%22%20sodipodi%3Anodetypes%3D%22ccccsssc%22%20inkscape%3Aexport-ydpi%3D%227.7063322%22%20opacity%3D%220.7811%22%20fill%3D%22url%28%23path1950_1_%29%22%20enable-background%3D%22new%20%20%20%20%22%20d%3D%22%20%20%20M557.056%2C338.895H446.227c-29.337%2C0-52.955%2C23.81-52.955%2C53.385v108.127c0.95%2C23.087%2C4.603%2C8.491%2C11.555-17.075%20%20%20c8.081-29.713%2C34.396-55.682%2C66.445-75.145c24.461-14.855%2C51.84-24.341%2C101.679-25.244%20%20%20C601.216%2C382.432%2C598.721%2C346.26%2C557.056%2C338.895z%22/%3E%0D%0A%3C/g%3E%0D%0A%3Cg%20id%3D%22layer1_1_%22%20transform%3D%22scale%280.125%29%20translate%28-200.55198%2C-393.96227%29%22%20inkscape%3Alabel%3D%22Layer%201%22%20inkscape%3Agroupmode%3D%22layer%22%3E%0D%0A%09%3Cg%20id%3D%22g3019%22%20transform%3D%22matrix%281.018827%2C0%2C0%2C-1.018827%2C170.5996%2C498.03288%29%22%3E%0D%0A%09%09%3Cpath%20id%3D%22path28_1_%22%20inkscape%3Aconnector-curvature%3D%220%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M109.495-101.774V2.533H74.828v-104.307H109.495z%20%20%20%20%20M92.168%2C16.775c12.081%2C0%2C19.612%2C8.01%2C19.612%2C18.021c-0.224%2C10.233-7.531%2C18.021-19.385%2C18.021%20%20%20%20c-11.864%2C0-19.615-7.788-19.615-18.021c0-10.011%2C7.521-18.021%2C19.159-18.021H92.168L92.168%2C16.775z%22/%3E%0D%0A%09%09%3Cpath%20id%3D%22path30_1_%22%20inkscape%3Aconnector-curvature%3D%220%22%20fill%3D%22%23FFFFFF%22%20d%3D%22M128.681-101.774h34.673v58.249%20%20%20%20c0%2C3.119%2C0.226%2C6.235%2C1.143%2C8.462c2.5%2C6.232%2C8.209%2C12.681%2C17.784%2C12.681c12.547%2C0%2C17.562-9.568%2C17.562-23.588v-55.804h34.666%20%20%20%20v59.81c0%2C32.039-17.1%2C46.946-39.913%2C46.946c-18.701%2C0-26.915-10.45-31.476-17.571h0.234V2.533h-34.673%20%20%20%20C129.141-7.253%2C128.681-101.774%2C128.681-101.774L128.681-101.774z%22/%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E');
	background-repeat: no-repeat;
}

.icon-bitbucket {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%0A%20%20%20xmlns%3Adc%3D%22http%3A//purl.org/dc/elements/1.1/%22%0A%20%20%20xmlns%3Acc%3D%22http%3A//creativecommons.org/ns%23%22%0A%20%20%20xmlns%3Ardf%3D%22http%3A//www.w3.org/1999/02/22-rdf-syntax-ns%23%22%0A%20%20%20xmlns%3Asvg%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%0A%20%20%20xmlns%3Asodipodi%3D%22http%3A//sodipodi.sourceforge.net/DTD/sodipodi-0.dtd%22%0A%20%20%20xmlns%3Ainkscape%3D%22http%3A//www.inkscape.org/namespaces/inkscape%22%0A%20%20%20viewBox%3D%220%200%2032.000001%2032%22%0A%20%20%20version%3D%221.1%22%0A%20%20%20id%3D%22svg128%22%0A%20%20%20sodipodi%3Adocname%3D%22Bitbucket-blue.svg%22%0A%20%20%20inkscape%3Aversion%3D%220.92.2%205c3e80d%2C%202017-08-06%22%0A%20%20%20width%3D%2232%22%0A%20%20%20height%3D%2232%22%3E%0A%20%20%3Cmetadata%0A%20%20%20%20%20id%3D%22metadata132%22%3E%0A%20%20%20%20%3Crdf%3ARDF%3E%0A%20%20%20%20%20%20%3Ccc%3AWork%0A%20%20%20%20%20%20%20%20%20rdf%3Aabout%3D%22%22%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Aformat%3Eimage/svg+xml%3C/dc%3Aformat%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atype%0A%20%20%20%20%20%20%20%20%20%20%20rdf%3Aresource%3D%22http%3A//purl.org/dc/dcmitype/StillImage%22%20/%3E%0A%20%20%20%20%20%20%20%20%3Cdc%3Atitle%3EBitbucket-blue%3C/dc%3Atitle%3E%0A%20%20%20%20%20%20%3C/cc%3AWork%3E%0A%20%20%20%20%3C/rdf%3ARDF%3E%0A%20%20%3C/metadata%3E%0A%20%20%3Csodipodi%3Anamedview%0A%20%20%20%20%20pagecolor%3D%22%23ffffff%22%0A%20%20%20%20%20bordercolor%3D%22%23666666%22%0A%20%20%20%20%20borderopacity%3D%221%22%0A%20%20%20%20%20objecttolerance%3D%2210%22%0A%20%20%20%20%20gridtolerance%3D%2210%22%0A%20%20%20%20%20guidetolerance%3D%2210%22%0A%20%20%20%20%20inkscape%3Apageopacity%3D%220%22%0A%20%20%20%20%20inkscape%3Apageshadow%3D%222%22%0A%20%20%20%20%20inkscape%3Awindow-width%3D%222048%22%0A%20%20%20%20%20inkscape%3Awindow-height%3D%221108%22%0A%20%20%20%20%20id%3D%22namedview130%22%0A%20%20%20%20%20showgrid%3D%22false%22%0A%20%20%20%20%20inkscape%3Azoom%3D%228.0081479%22%0A%20%20%20%20%20inkscape%3Acx%3D%2231.185%22%0A%20%20%20%20%20inkscape%3Acy%3D%2228.945001%22%0A%20%20%20%20%20inkscape%3Awindow-x%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-y%3D%220%22%0A%20%20%20%20%20inkscape%3Awindow-maximized%3D%221%22%0A%20%20%20%20%20inkscape%3Acurrent-layer%3D%22Layer_2%22%20/%3E%0A%20%20%3Cdefs%0A%20%20%20%20%20id%3D%22defs98%22%3E%0A%20%20%20%20%3Cstyle%0A%20%20%20%20%20%20%20id%3D%22style91%22%3E.cls-1%7Bfill%3A%23253858%3B%7D.cls-2%7Bfill%3Anone%3B%7D.cls-3%7Bfill%3A%232684ff%3B%7D.cls-4%7Bfill%3Aurl%28%23New_Gradient_Swatch_1%29%3B%7D%3C/style%3E%0A%20%20%20%20%3ClinearGradient%0A%20%20%20%20%20%20%20id%3D%22New_Gradient_Swatch_1%22%0A%20%20%20%20%20%20%20x1%3D%2264.010002%22%0A%20%20%20%20%20%20%20y1%3D%2230.27%22%0A%20%20%20%20%20%20%20x2%3D%2232.990002%22%0A%20%20%20%20%20%20%20y2%3D%2254.48%22%0A%20%20%20%20%20%20%20gradientUnits%3D%22userSpaceOnUse%22%3E%0A%20%20%20%20%20%20%3Cstop%0A%20%20%20%20%20%20%20%20%20offset%3D%220.18%22%0A%20%20%20%20%20%20%20%20%20stop-color%3D%22%230052cc%22%0A%20%20%20%20%20%20%20%20%20id%3D%22stop93%22%20/%3E%0A%20%20%20%20%20%20%3Cstop%0A%20%20%20%20%20%20%20%20%20offset%3D%221%22%0A%20%20%20%20%20%20%20%20%20stop-color%3D%22%232684ff%22%0A%20%20%20%20%20%20%20%20%20id%3D%22stop95%22%20/%3E%0A%20%20%20%20%3C/linearGradient%3E%0A%20%20%3C/defs%3E%0A%20%20%3Ctitle%0A%20%20%20%20%20id%3D%22title100%22%3EBitbucket-blue%3C/title%3E%0A%20%20%3Cg%0A%20%20%20%20%20id%3D%22Layer_2%22%0A%20%20%20%20%20data-name%3D%22Layer%202%22%0A%20%20%20%20%20transform%3D%22translate%280%2C-31.270009%29%22%3E%0A%20%20%20%20%3Cg%0A%20%20%20%20%20%20%20id%3D%22Blue%22%0A%20%20%20%20%20%20%20transform%3D%22matrix%280.51264318%2C0%2C0%2C0.51264318%2C-0.01257036%2C30.406273%29%22%3E%0A%20%20%20%20%20%20%3Cpolygon%0A%20%20%20%20%20%20%20%20%20class%3D%22cls-2%22%0A%20%20%20%20%20%20%20%20%20points%3D%2224.7%2C43.51%2037.75%2C43.51%2040.9%2C25.12%2021.23%2C25.12%20%22%0A%20%20%20%20%20%20%20%20%20id%3D%22polygon120%22%0A%20%20%20%20%20%20%20%20%20style%3D%22fill%3Anone%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20class%3D%22cls-3%22%0A%20%20%20%20%20%20%20%20%20d%3D%22M%202%2C6.26%20A%202%2C2%200%200%200%200%2C8.58%20l%208.49%2C51.54%20a%202.72%2C2.72%200%200%200%202.66%2C2.27%20h%2040.73%20a%202%2C2%200%200%200%202%2C-1.68%20L%2062.37%2C8.59%20a%202%2C2%200%200%200%20-2%2C-2.32%20z%20m%2035.75%2C37.25%20h%20-13%20L%2021.23%2C25.12%20H%2040.9%20Z%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path122%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20%20%20style%3D%22fill%3A%232684ff%22%20/%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20%20class%3D%22cls-4%22%0A%20%20%20%20%20%20%20%20%20d%3D%22M%2059.67%2C25.12%20H%2040.9%20l%20-3.15%2C18.39%20h%20-13%20L%209.4%2C61.73%20a%202.71%2C2.71%200%200%200%201.75%2C0.66%20h%2040.74%20a%202%2C2%200%200%200%202%2C-1.68%20z%22%0A%20%20%20%20%20%20%20%20%20id%3D%22path124%22%0A%20%20%20%20%20%20%20%20%20inkscape%3Aconnector-curvature%3D%220%22%0A%20%20%20%20%20%20%20%20%20style%3D%22fill%3Aurl%28%23New_Gradient_Swatch_1%29%22%20/%3E%0A%20%20%20%20%3C/g%3E%0A%20%20%3C/g%3E%0A%3C/svg%3E%0A');
	background-repeat: no-repeat;
}
