
.icon-strava {
	background-image: url('png/strava.png');
	background-repeat: no-repeat;
}

.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}

.icon-goodreads {
	background-image: url('png/goodreads.png');
	background-repeat: no-repeat;
}

.icon-instagram {
	background-image: url('png/instagram.png');
	background-repeat: no-repeat;
}

.icon-medium {
	background-image: url('png/medium.png');
	background-repeat: no-repeat;
}

.icon-telegram {
	background-image: url('png/telegram.png');
	background-repeat: no-repeat;
}

.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}

.icon-untappd {
	background-image: url('png/untappd.png');
	background-repeat: no-repeat;
}

.icon-facebook {
	background-image: url('png/facebook.png');
	background-repeat: no-repeat;
}

.icon-foursquare {
	background-image: url('png/foursquare.png');
	background-repeat: no-repeat;
}

.icon-linkedin {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
}

.icon-bitbucket {
	background-image: url('png/bitbucket.png');
	background-repeat: no-repeat;
}
